body {
  background: linear-gradient(180deg, #1b1b1b, #121212);
  color: #fff;
  font-family: "Inter", sans-serif;
}

.card {
  background-color: #2a2a2a;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-success {
  background-color: #00c851;
  border: none;
}

.btn-success:hover {
  background-color: #007e33;
}
